{:server-port 5000
 :logging-level "info"
 :google-analytics nil
 :bluegenes-tool-path "./tools"
 :bluegenes-deploy-path "/bluegenes"
 :bluegenes-backend-service-root nil
 :bluegenes-default-service-root "https://www.alliancegenome.org/alliancemine"
 :bluegenes-default-mine-name "AllianceMine"
 :bluegenes-default-namespace "alliancemine"
 :bluegenes-additional-mines [{:root "http://www.mousemine.org/mousemine"
                              :name "mousemine"
                              :namespace "mousemine"
                              :external true}
                             {:root "http://ratmine.mcw.edu/ratmine"
                              :name "ratmine"
                              :namespace "ratmine"
                              :external true}
                             {:root "http://intermine.wormbase.org/tools/wormmine"
                              :name "WormMine"
                              :namespace "wormmine"}
                             {:root "https://www.flymine.org/flymine"
                              :name "flymine"
                              :namespace "flymine"}
                             {:root "https://www.humanmine.org/humanmine"
                              :name "humanmine"
                              :namespace "humanmine"
                              :external false}]
 :hide-registry-mines true}
